MJSpec.lso
MJSpec_map.xrpt
MJSpec_par.xrpt
*.log
_ngo/
_xmsgs/
logs/
mjspec.bgn
mjspec.bit
mjspec.bld
mjspec.cfi
mjspec.drc
mjspec.map
mjspec.mcs
mjspec.mrp
mjspec.ncd
mjspec.ngc
mjspec.ngd
mjspec.ngm
mjspec.ngr
mjspec.pcf
mjspec.prm
mjspec.srp
mjspec.twr
mjspec.twx
mjspec_bitgen.xwbt
mjspec_ngdbuild.xrpt
mjspec_routed*
mjspec_summary.xml
mjspec_usage.xml
mjspec_xst.xrpt
par_usage_statistics.html
patches/*.bin
patches/*.hex
patches/runcode
tmp/
xlnx_auto_0_xdb/
xst/

