############################################################################
# VCC AUX VOLTAGE
############################################################################
CONFIG VCCAUX=3.3; # Valid values are 2.5 and 3.3

NET "sys_clk_i" TNM_NET = "sys_clk_i";
TIMESPEC TS_sys_clk_i = PERIOD "sys_clk_i" 20 ns HIGH 50 %;
NET "sys_clk_i" 			LOC = A10	| IOSTANDARD = LVCMOS33 ;
NET "sys_rst_i" 			LOC = T8		| IOSTANDARD = LVCMOS33 | PULLUP;

NET "led_1" 												 LOC = T9 	| IOSTANDARD = LVTTL;

/*
NET "uart_dtr" 		LOC = L7 	| IOSTANDARD = LVTTL;
NET "uart_rx" 		LOC = T4 	| IOSTANDARD = LVTTL;
NET "uart_tx" 		LOC = R5 	| IOSTANDARD = LVTTL;
NET "uart_cts" 		LOC = T7 	| IOSTANDARD = LVTTL;
*/

NET "tp[0]" 		LOC = T7 	| IOSTANDARD = LVTTL;
NET "tp[1]" 		LOC = R5 	| IOSTANDARD = LVTTL;
NET "tp[2]" 		LOC = T4 	| IOSTANDARD = LVTTL;
NET "tp[3]" 		LOC = L7 	| IOSTANDARD = LVTTL;

NET "kbd_clk" 		LOC = L10 	| IOSTANDARD = LVTTL;
NET "kbd_data" 		LOC = P12 	| IOSTANDARD = LVTTL;

NET "aud_left" 		LOC = B6 	| IOSTANDARD = LVTTL;
NET "aud_right" 	LOC = C8 	| IOSTANDARD = LVTTL;

NET "tape_in" LOC="P11" | IOSTANDARD = LVCMOS33;
NET "tape_out" LOC="M10" | IOSTANDARD = LVCMOS33;

NET "juart_tx" LOC = T6 | IOSTANDARD = LVTTL;
NET "juart_rx" LOC = T5 | IOSTANDARD = LVTTL;

#### FPO
#NET vc_h     	    LOC="D8"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
#NET vc_v     	    LOC="D9"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
#NET vc_b   	    LOC="A5"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
#NET vc_g  	    LOC="A9"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
#NET vc_r          LOC="B14"  | IOSTANDARD=LVCMOS33 | DRIVE=2 | SLEW=SLOW;
NET ps2d        LOC="M7" | IOSTANDARD=LVCMOS33 | PULLUP;
NET ps2c         LOC="D6" | IOSTANDARD=LVCMOS33 | PULLUP;

NET "vga_r<3>" 		LOC = B14 	| IOSTANDARD = LVTTL;
NET "vga_r<2>" 		LOC = A13 	| IOSTANDARD = LVTTL;
NET "vga_r<1>" 		LOC = A12 	| IOSTANDARD = LVTTL;
NET "vga_r<0>" 		LOC = A11 	| IOSTANDARD = LVTTL;
NET "vga_g<3>" 		LOC = A9 	| IOSTANDARD = LVTTL;
NET "vga_g<2>" 		LOC = A8 	| IOSTANDARD = LVTTL;
NET "vga_g<1>" 		LOC = A7 	| IOSTANDARD = LVTTL;
NET "vga_g<0>" 		LOC = A6 	| IOSTANDARD = LVTTL;
NET "vga_b<3>" 		LOC = A5 	| IOSTANDARD = LVTTL;
NET "vga_b<2>" 		LOC = A4 	| IOSTANDARD = LVTTL;
NET "vga_b<1>" 		LOC = C10 	| IOSTANDARD = LVTTL;
NET "vga_b<0>" 		LOC = F10 	| IOSTANDARD = LVTTL;
NET "vga_hs" 		LOC = D8 	| IOSTANDARD = LVTTL;
NET "vga_vs" 		LOC = D9 	| IOSTANDARD = LVTTL;

NET "SRAM_ADDR<18>" LOC=H13 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<16>" LOC=J14 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<14>" LOC=J11 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<12>" LOC=K14 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<7>" LOC=K15 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<6>" LOC=L16 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<5>" LOC=K11 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<4>" LOC=M15 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<3>" LOC=N14 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<2>" LOC=M13 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<1>" LOC=L12 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<0>" LOC=P15 | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<0>" LOC=R15 | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<1>" LOC=R14 | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<2>" LOC=T13 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<15>" LOC=J16 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<17>" LOC=J12 | IOSTANDARD = LVCMOS33;
NET "SRAM_WE_N" LOC=J13 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<13>" LOC=K16 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<8>" LOC=L14 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<9>" LOC=K12 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<11>" LOC=M16 | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<10>" LOC=N16 | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<7>" LOC=M14 | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<6>" LOC=L13 | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<5>" LOC=P16 | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<4>" LOC=R16 | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<3>" LOC=T15 | IOSTANDARD = LVCMOS33;

NET "SD_cs" 		LOC = A14 	| IOSTANDARD = LVTTL;
NET "SD_datain" 	LOC = B12 	| IOSTANDARD = LVTTL;
NET "SD_dataout" 	LOC = B10 	| IOSTANDARD = LVTTL;
NET "SD_clk" 		LOC = C11 	| IOSTANDARD = LVTTL;

NET "fpga_cclk" 		LOC = R11 	| IOSTANDARD = LVCMOS33;
NET "fpga_miso" 	LOC = P10	| IOSTANDARD = LVCMOS33;
NET "fpga_mosi" 	LOC = T10 	| IOSTANDARD = LVCMOS33;
NET "fpga_cso_b" 		LOC = T3 	| IOSTANDARD = LVCMOS33;
